@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    
background-color: #7c1515;
text-align: center;
font-family: poppins,sans-serif, serif;
font-size: 1rem;
font-display: ;
color: white;

}

#nav1{
background-size: cover;
background-color: rgb(80, 15, 15);
background-blend-mode: overlay;
padding: 10px;
}

#nav2{
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    padding: 10%;
    text-align: left;



}

h3{
    text-align: center;
}

img{
    max-width: 100%;
}

#tribute-link{
    border: 10px;
}